@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');
body {
    background-color: hsl(221, 100%, 96%);
    margin: 0px;
}

main{
    border-radius: 5%;
    display: flex;
    border: none;
    width: 725px;
    margin-top: 150px;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    background-color: white;
    box-shadow: 10px 10px 10px hsl(224, 30%, 27%, 0.1);
    font-family: 'Hanken Grotesk', sans-serif;
}
embed {
    margin-right: 5px;
}
.score{
    background-image: linear-gradient(180deg, hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
    color:hsla(221, 100%, 96%, 0.5);
    font-size: 18px;
    width: 100px;
    height: 100px;
    padding: 50px;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 50%;
}
.important{
    font-weight: 800;
    font-size: 72px;
    color: white;
}
.full-result{
    width: 45%;
    display: inline-block;
    text-align: center;
    padding: 45px;
    color:hsl(241, 100%, 89%);
    font-size: 18px;
    border-radius: 5%;
    background-image: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}
.summary {
    width: 50%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
}
.text{
    margin-left: 7px;
}
.stats {
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
}
#Reaction {
    background-color: hsla(0, 100%, 67%, 0.1);
    color: hsl(0, 100%, 67%)
}
#Memory {
    background-color:hsla(39, 100%, 56%, 0.1);
    color: hsl(39, 100%, 56%);
}
#Verbal {
    background-color: hsla(166, 100%, 37%, 0.1);
    color: hsl(166, 100%, 37%);

}
#Visual {
    background-color: hsla(234, 85%, 45%, 0.1);
    color: hsl(234, 85%, 45%); 
}
.specific-score {
    float: right;
    color: hsla(224, 30%, 27%,0.3);
    font-weight: 700;
}
#embold {
    color: hsl(224, 30%, 27%);
}
button {
    background-color: hsl(224, 30%, 27%);
    margin-top: 30px;
    padding: 15px;
    display: block;
    margin-left: auto;
    color: white;
    border: none;
    font-size: 18px;
    margin-right: auto;
    width: 100%;
    border-radius: 50px;
}
button:hover{
    background-image: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    width: 100%;
}

footer { font-size: 11px; text-align: center; margin-top: 15px;}
    
footer a { color: hsl(228, 45%, 44%); }
@media only screen and (max-width: 600px) {
    main {
        width: 100%;
        height: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0px;
        margin-left: 0px;
        margin-top: 0px;
        margin-right: 0px;
        border-radius: 0px;
        box-shadow: none;
    }
    .full-result {
        margin-left: 0;
        margin-right: 0;
        width: 100vw; 
        height: auto;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }
    body {
        padding: 0px;
        margin-left: 0px;
        margin-right: 0px;
        border: 0px;
    }
    .summary {
        width: 90%;
        padding: 5%;
    }

}